.navbar{
    display: flex;
    justify-content: space-between;
}

#home{
    justify-items: flex-start;
}

li{
    list-style: none;
}

.details{
    display: flex;
    flex-basis: 500px;
    justify-content: space-around;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 90vh;
    background-color: #34495e;
}

.rocket{
    align-self: flex-end;
    margin-left: 10%;
}

.mid-word{
    align-self: flex-end;
}